[2021-12-17 20:57] drakedanner opened #1 "Table: Transactions"
**Description**
Let's create a Transactions table using `chainwalkers.prod.harmony_txs` as the source data table.

**To Do Next:**

- [x] Design the schema for this table
- [x] Get confirmation on schema
- [x] Build schema
- [x] Schema build review
- [x] Submit Pull Request

[2021-12-17 20:57] drakedanner opened #2 "Table: Blocks"
**Description**
Let's create a Blocks table using `chainwalkers.prod.harmony_blocks` as the source data table.

**To Do Next:**

- [x] Design the schema for this table
- [x] Get confirmation on schema
- [x] Build schema
- [x] Schema build review
- [x] Submit Pull Request

[2021-12-17 20:59] drakedanner opened #3 "Table: Logs"
Let's create a Transactions table using `chainwalkers.prod.harmony_txs` as the source data table.

**Two things to note:**
1. Data should be extracted from `tx:receipt:logs`. Logs has a decoded attribute that is dynamic per the contract log emitted. This should be a JSON variant column in the logs table we produce.
2. You will need to use [Snowflake's lateral flatten](https://docs.snowflake.com/en

[2021-12-17 21:00] drakedanner opened #4 "Table: Transfers"
Let's create a Transfers table to highlight which assets are moving between two parties. This can be created using `chainwalkers.prod.harmony_txs` as the source data table.

This table should extract `ONE` transfers and all transfers from decoded logs.

Hints:
- You should be able to determine if this is a `ONE` transfer if there is a value set at the tx level.
- Also, always check the decoded log

[2021-12-21 00:29] chuxinh commented on #2
Proposed schema (similar to `ethereum.blocks`):
| block_id | block_timestamp         | block_hash                                                         | block_parent_hash                                                  | gas_limit | gas_used | miner                                      | nonce             | size  | tx_count |
|----------|-------------------------|------------------------------

[2021-12-22 23:46] drakedanner commented on #2
Note that the `ethereum.blocks` is from the Dune database

[2021-12-23 18:58] forgxyz commented on #2
I agree with the schema you've proposed.
Sample data we are working with only goes to 12/8/2021 so this may need to be reevaluated on a larger data set, but the following can be left out of our schema as there is only one distinct / common result
- extra_data
- mix_hash
- uncles

logs_bloom - as we are creating a logs table, we can disregard this. Explanation of what this is used for by EVM found

[2021-12-28 15:10] mattromano commented on #1
### Proposed Transaction Schema

Going to keep up the theme of the Dune based schema design. Similar to ethereum.transactions with EIP-1559 stuff removed and Harmony addresses added + a few other small changes.

| block_time | txn_id | nonce | txn_index | native_from_address | native_to_address | eth_from_address | eth_to_address | value | block_number | block_hash | gas_price | gas | data |
| ---

[2021-12-29 00:04] chuxinh commented on #1
Nice work @mattromano 😄 Have some small feedback below:
- [x] block_time
- [ ] tx_id (**worth changing to just `hash` or `tx_hash`?** )
- [x] nonce
- [x] tx_index
- [x] native_from_address
- [x] native_to_address
- [x] eth_from_address
- [x] eth_to_address
- [x] value
- [x] block_number
- [x] block_hash
- [x] block_number
- [x] gas_price
- [x] gas
- [x] data
- [ ] contract_address (**mostly null b

[2021-12-29 00:25] antonyip commented on #1
I’d like to refrain from using from/to as from’s a keyword in sql. from_address / to_address would be my preferred choice.

I feel hash and index might not feel easily understandable for a newcomer.

[2021-12-29 15:13] mattromano commented on #1
Great thanks for the feedback both! Based on the feedback above I think the final Schema should look something like this:

- [x] block_time
- [ ] tx_id (**worth changing to just `hash` or `tx_hash`?** ) **_--moved to `hash` and in similar order to Dune txn table_**
- [x] nonce
- [x] index
- [x] native_from_address
- [x] native_to_address
- [x] from_address
- [x] to_address
- [x] value
- [x] block_

[2022-01-05 23:50] drakedanner commented on #2
Split the .yml into a per table .yml then should be good

[2022-01-05 23:55] drakedanner commented on #4
Starting point from Flipside's Terra Transfers model
![image](https://user-images.githubusercontent.com/11461756/148306453-6b9d1207-3e59-42d6-bc99-7cfc5a6c406b.png)

[2022-01-06 01:39] forgxyz commented on #3
Proposed Schema:
| block_id | block_timestamp | tx_hash | event_index | native_contract_address | evm_contract_address | contract_name | event_name | event_inputs | topics | data |
| --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- |
| 20262093 | 2021-12-09 05:08:23.000 | 0x55afe68bb7b137978693d8402b027a8259c9b8793d79e95b47d0972ee4ec5dd4 | 0x0 | one1ta6nmn0ekxke427px3npf505w3hadnjuh

[2022-01-06 02:23] antonyip commented on #3
1. evm_address -> contract_address? (because the column beside it is contract_name). could be evm_address + evm_name too... but I think our chainwalker is not able to extract the name of the contract for now...
2. tx_id -> I guess it'll be up to discussion based on what's decided on (tx_id / tx_hash / tx_eth_hash).

[2022-01-06 02:29] forgxyz commented on #3
Yes, it's the contact address, but so is native_address. So maybe native_contract_address and evm_contract_address.

Agree, I will be consistent with other tables depending on what we decide, and change tx_id if need-be.

[2022-01-07 00:35] forgxyz commented on #3
Initial logs model up, please review both the sql and structure of the table to ensure it is what we want to build on.

Reference for column descriptions: https://docs.harmony.one/home/developers/api/methods/filter-methods/hmy_getlogs

[2022-01-07 01:04] drakedanner commented on #3
https://github.com/MetricsDAO/harmony_dbt/tree/add-logs

[2022-01-07 01:48] antonyip opened #12 "Upgrade: dbt docker image"
I see a new version of dbt docker image that has been release by the dbt team.
<https://hub.docker.com/layers/fishtownanalytics/dbt/1.0.0/images/sha256-4c9462867d2db6869a048ba429d3557a562ac20337d4ce25b634c0e026954028?context=explore>
Probably a simple change in tagging on the DOCKERFILE but it needs to be tested.

[2022-01-07 01:52] antonyip opened #13 "Table: HRC20 Tokens"
... Since i'm on this page. Might as well write my thoughts down... @drakedanner feel free to refactor the whole ticket.

| token_address | token_decimals | token_symbol | token_name |
| --- | --- | --- | --- |
0x.. | 18 | WONE | Wrapped ONE |

<https://github.com/antonyip/harmony_dbt/blob/experiments/models/playground/ant_tokens2.sql>

**To Do Next:**

- [x] Design the schema for this table
- [x]

[2022-01-07 01:53] antonyip opened #14 "Table: HRC20 Prices"
Hourly Prices of hrc20 tokens

@drakedanner  :D

| token_address | day_timestamp | price_usd |
| --- | --- | --- |
| 0x.. | 1641520410 | 0.20432847 |

Problems: Need to think of how to ingest data from blockchain

**To Do Next:**

- [ ] Design the schema for this table
- [ ] Get confirmation on schema
- [ ] Build schema
- [ ] Schema build review
- [ ] Submit Pull Request

[2022-01-07 03:04] #2 closed

[2022-01-07 04:46] ndhung1104 commented on #4
Proposed Schema:

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link id=Main-File rel=Main-File
href="file:///C:/Users/Hp/AppData/Local/Temp/msohtmlclip1/01/cli

[2022-01-07 20:39] forgxyz commented on #3
Table successfully built by dbt using truncated dedupe_tx macro. I'd like to factor out this macro as two planned core tables are dependent on a deduped transactions table, and it doesn't make sense to duplicate that compute. Holding PR until we can discuss.

## Testing
[code]

logs.yml was updated to remove not_null test constraints from:
- event_name
- contract_name
- inputs

On inspection of sa

[2022-01-07 23:26] antonyip opened #16 "Tools: Consider using re-data to monitor data quality"
https://re-data.github.io/re-data/latest/docs/introduction/whatis

[2022-01-09 18:53] #1 closed

[2022-01-12 00:44] antonyip commented on #4
![image](https://user-images.githubusercontent.com/9086733/149043208-563a70d3-1d06-426d-b6f2-2e749c333931.png)
I see some null values, might wanna consider coalesce(value:decoded:inputs,0) as inputs

tx_id is 0x563deb1b9409f0ccac996a0ef52240f5307ad61fe0771e5713a0d8805cc9dc47
tx from blockchain is
[code]
log from the blockchain is
[code]

decoded logs seem inaccurate....

[2022-01-12 11:51] ndhung1104 commented on #4
The problem with this one is: it doesn't have a "value" field. Even though it's classified as a Transfer event, it only has from/to address + a field called token_id.

Checking on the explorer:
![image](https://user-images.githubusercontent.com/96320869/149134592-f9d5c13c-0e36-4a41-b60d-d5c1af6d8c86.png)

The contract address 0x5F753dcDf9b1AD9AabC1346614D1f4746fd6Ce5C is the Hero contract address

[2022-01-12 12:04] antonyip commented on #4
Ooh! didn't think about ERC-721 tokens... I guess the transfer event is exactly the same as ERC-20's..

Yup, I guess we can go with the NULL filter.

[2022-01-13 00:44] drakedanner commented on #13
This looks great @antonyip

Push it forward and look to @chuxinh or @forgxyz for review

[2022-01-13 00:45] drakedanner commented on #14
We could look to bring in something via api from coin gecko (or coin market cap)

In the past, have used both and do something like `coalesce(cg.price,cmc.price)`

Happy to dig into this deeper and might look to @jfmyers for some guidance

[2022-01-13 00:46] drakedanner commented on #12
Can we get some more details here?

[2022-01-13 23:04] #3 closed

[2022-01-14 00:21] #4 closed

[2022-01-15 03:19] antonyip opened #21 "Table: DFK_Hero_Transactions"
Let's create a `DFK_Hero_Transactions` table to trace all DFK Hero Purchases.
This can be created using `txs+logs` as the source data table.

Hints:
[code]

**To Do Next:**

- [ ] Design the schema for this table
- [ ] Get confirmation on schema
- [ ] Build schema
- [ ] Schema build review
- [ ] Submit Pull Request

[2022-01-15 03:21] antonyip opened #22 "Table: Swaps"
Let's create a `Swaps` table to trace all DEX Swaps (Potentially DFK and ViperSwap).
This can be created using `txs+logs` as the source data table.

Hints:
[code]

**To Do Next:**

- [ ] Design the schema for this table
- [ ] Get confirmation on schema
- [ ] Build schema
- [ ] Schema build review
- [ ] Submit Pull Request

[2022-01-15 03:24] antonyip opened #23 "Table: DFK_Bank_Transactions"
Let's create a `DFK_Bank_Transactions` table to trace all DFK Deposits and Withdrawals.
This can be created using `txs+logs` as the source data table.

Hints:
[code]
[code]

**To Do Next:**

- [ ] Design the schema for this table
- [ ] Get confirmation on schema
- [ ] Build schema
- [ ] Schema build review
- [ ] Submit Pull Request

[2022-01-15 03:34] antonyip opened #24 "Table: DFK_Harvests"
Let's create a `DFK_Seed_Harvests` table to trace all DFK Harvests Transactions.
This can be created using `txs+logs` as the source data table.

Hints:
[code]

**To Do Next:**

- [ ] Design the schema for this table
- [ ] Get confirmation on schema
- [ ] Build schema
- [ ] Schema build review
- [ ] Submit Pull Request

[2022-01-15 03:38] antonyip opened #25 "Table: DFK_Seed_Liquidity_Added"
Let's create a `DFK_Seed_Liquidity_Added` table to trace all DFK Added Liquidity Transactions.
This can be created using `txs+logs` as the source data table.

Hints:
[code]

**To Do Next:**

- [ ] Design the schema for this table
- [ ] Get confirmation on schema
- [ ] Build schema
- [ ] Schema build review
- [ ] Submit Pull Request

[2022-01-15 03:40] antonyip opened #26 "Table: Bridged_Transactions"
Let's create a `DFK_Bridged_Transactions` table to trace all Contract Bridges.
This can be created using `txs+logs` as the source data table.

Hints:
[code]

**To Do Next:**

- [ ] Design the schema for this table
- [ ] Get confirmation on schema
- [ ] Build schema
- [ ] Schema build review
- [ ] Submit Pull Request

[2022-01-15 23:02] mattromano commented on #14
I might be down to take a stab at this one, I've spent some time playing with the coingecko api w/ python

[2022-01-15 23:26] drakedanner opened #27 "Remove and rename duplicated models"
![image](https://user-images.githubusercontent.com/11461756/149640937-c11d763b-015a-44dc-b816-1bb1b4ac3478.png)

We have duplicate models in production, some with a dedupe call out.

Let's make sure they are properly de-duplicated and name them without the prefix of deduped

Feel free to add comments here and/or find me on discord to discuss danner.eth#7297

[2022-01-15 23:33] antonyip commented on #14
I have this really ugly script as a reference...
[code]

an alternate idea is to just extract the swaps and guess the pricing from there, might be easier.. :P

[2022-01-16 00:55] mattromano commented on #14
Awesome thanks Ant, that is helpful! I will look into swaps as well.

As far as logistics, if I can get the final script to run in the docker image is there like a VM that would ultimately run this via cron jobs outside of dbt? Or would we utilize snowflakes external functions. Was looking into the external functions on snowflake and it looks like there would be some set-up required in AWS based o

[2022-01-16 01:16] antonyip commented on #14
No clue about plans for infra, @drakedanner probably has to think about it.. whether be it VM's or something else...
My 2 cents is that its probably better/easier to just look at swaps as that just comes from the data we have anyway.

[2022-01-16 01:30] antonyip commented on #27
blocks_deduped/txs_deduped is a copy of the data from chainwalkers with the duplicates removed, maybe you'd like to rename it to something else?

[2022-01-16 02:38] #13 closed

[2022-01-16 04:17] antonyip opened #28 "Table: metric_daily_transactions"
[code]

[2022-01-16 04:18] antonyip opened #29 "Table: metric_daily_erc20_transfers"
[code]

[2022-01-16 04:18] antonyip opened #30 "Table: metric_daily_unique_users"
[code]

[2022-01-16 04:18] antonyip opened #31 "Table: metric_daily_gas_used"
[code]

[2022-01-16 04:20] antonyip opened #32 "Table: DFK_Hero_Rental_Income"
[code]

[2022-01-16 04:21] antonyip opened #33 "Table: DFK_Item_Transactions"
[code]

[2022-01-16 04:23] antonyip opened #34 "Table: DFK_Hero_Summons"
[code]

[2022-01-16 04:24] antonyip opened #35 "Table: DFK_Infuse_Crystal"
[code]

[2022-01-16 04:24] antonyip opened #36 "Table: DFK_Hero_Level_Up"
[code]

[2022-01-16 12:20] antonyip opened #37 "Table: DFK_Alchemist"
Look for crafts and populate a table
No Hints unfortunately..

[2022-01-16 12:33] antonyip opened #38 "Table: HRC20 Part2"
Figure out a way to extract HRC20 Tokens being generated from txs or logs
[code]

[2022-01-20 23:24] antonyip opened #41 "Test: tx count"
Implement weekly tests for transaction count == transaction count in blocks

[2022-01-22 10:35] #22 closed

[2022-01-23 00:54] #41 closed

[2022-01-23 07:54] thekakamora commented on #21
Please refer to this yml file for proposed schema - https://github.com/MetricsDAO/harmony_dbt/pull/45/files#diff-8980938be70b724c3779f3e147d0be976a0178d0c5438e966a688fbe888200a6

[2022-01-29 22:58] antonyip commented on #27
TODO: remove blocks_deduped / txs_deduped from production tables

[2022-02-10 03:07] antonyip opened #50 "[Table] tranquil_deposits"
Create a table that records all the Deposit Transactions

| block_timestamp     | block_id | user_address | contract_address                           | token_address | token_amount_raw | token_amount | amount_usd |
|---------------------|----------|--------------|--------------------------------------------|---------------|------------------|--------------|------------|
| 2022-01-01 15:00:00 | 25

[2022-02-10 03:08] antonyip opened #51 "[Table] tranquil_withdraws"
Create a table that records all the withdraw Transactions

| block_timestamp     | block_id | user_address | contract_address                           | token_address | token_amount_raw | token_amount | amount_usd |
|---------------------|----------|--------------|--------------------------------------------|---------------|------------------|--------------|------------|
| 2022-01-01 15:00:00 | 2

[2022-02-10 03:10] antonyip opened #52 "[Table] tranquil_borrows"
EDIT: I've just copied and pasted from a previous issue, might not be cleaned correctly.

Create a table that records all the Borrow Transactions

| block_timestamp     | block_id | user_address | contract_address                           | token_address | token_amount_raw | token_amount | amount_usd |
|---------------------|----------|--------------|--------------------------------------------|-

[2022-02-10 03:11] antonyip opened #53 "[Table] tranquil_repayments"
EDIT: I've just copied and pasted from a previous issue, might not be cleaned correctly.

| block_timestamp     | block_id | user_address | contract_address                           | token_address | token_amount_raw | token_amount | amount_usd |
|---------------------|----------|--------------|--------------------------------------------|---------------|------------------|--------------|--------

[2022-02-10 08:19] antonyip opened #54 "[Table] bridge_btc"
https://btc.harmony.one/bridge/issue

[2022-02-10 13:22] #29 closed

[2022-02-10 13:22] #30 closed

[2022-02-10 13:22] #31 closed

[2022-02-11 03:27] antonyip commented on #54
extracted from:
https://github.com/harmony-one/onebtc.relayer-client/blob/main/.env.mainnet

HMY_RELAY_CONTRACT=0x1ECF073BDA141cba95539CD40B94E8c54A4C7929
HMY_ONE_BTC_CONTRACT=0xdc54046c0451f9269FEe1840aeC808D36015697d -- this is required to register vaults.
HMY_ORACLE_CONTRACT=0xa43A1B4643B28e11be995a20873495b71F9d5bF7

idea is to read transactions to the HMY_ONE_BTC_CONTRACT to see what vaults a

[2022-02-14 16:38] davidenoch commented on #53
1USDC -0xca3e902efdb2a410c952fd3e4ac38d7dbdcb8e96
1USDT -0x7af2430efa179db0e76257e5208bcaf2407b2468
1DAI - 0x49d95736fe7f1f32e3ee5defc26c95ba22834639

(see my incredibly insightful comments to issue #50

[2022-02-14 16:41] davidenoch commented on #51
1USDC -0xca3e902efdb2a410c952fd3e4ac38d7dbdcb8e96
1USDT -0x7af2430efa179db0e76257e5208bcaf2407b2468
1DAI - 0x49d95736fe7f1f32e3ee5defc26c95ba22834639

(see my incredibly insightful comments to issue #50)

[2022-02-14 16:42] davidenoch commented on #52
1USDC -0xca3e902efdb2a410c952fd3e4ac38d7dbdcb8e96
1USDT -0x7af2430efa179db0e76257e5208bcaf2407b2468
1DAI - 0x49d95736fe7f1f32e3ee5defc26c95ba22834639

(see my incredibly insightful comments to issue #50)

[2022-02-14 16:45] davidenoch commented on #50
Token addresses:

ONE - 0x34B9aa82D89AE04f0f546Ca5eC9C93eFE1288940
stOne -0x973f22036a0ff3a93654e7829444ec64cb37bd78
WBTC - 0xd9c0d8ad06abe10ab29655ff98dcaaa0e059184a
1BTC - 0x481721b918c698ff5f253c56684bac8dca84346c
1ETH - 0xc63ab8c72e636c9961c5e9288b697ec5f0b8e1f7
1USDC -0xca3e902efdb2a410c952fd3e4ac38d7dbdcb8e96
1USDT -0x7af2430efa179db0e76257e5208bcaf2407b2468
1DAI - 0x49d95736fe7f1f32e3ee5def

[2022-02-14 16:46] davidenoch commented on #50
1USDC -0xca3e902efdb2a410c952fd3e4ac38d7dbdcb8e96
1USDT -0x7af2430efa179db0e76257e5208bcaf2407b2468
1DAI - 0x49d95736fe7f1f32e3ee5defc26c95ba22834639

(see my incredibly insightful comments to issue #53)

[2022-02-17 01:18] antonyip opened #57 "[Table] SushiSwap Add / Remove Liquidity"

[2022-02-17 01:19] antonyip opened #58 "[Table] ViperSwap Add / Remove Liquidity"

[2022-02-20 05:09] tonykau1 opened #59 "[Table] Tranquil Daily Supply and Borrow"
Table that shows running total of of net Supply and Borrow values by token by day

[2022-02-21 06:48] antonyip opened #62 "[BugFix] Swaps"
[code]

Time to revisit either the test cases or figure out what is wrong with them.

[2022-02-22 22:31] antonyip opened #64 "[Table] DFK Hero Stats"
Table that parses hero stats

[2022-02-22 23:37] #54 closed

[2022-02-24 00:08] drakedanner commented on #26
I have some bridge tx from Mainnet ETH and Terra that I can share @mattromano

[2022-02-24 00:09] drakedanner commented on #26
Incoming bridge from mint address, outgoing bridge to burn address (0x00...0000)

[2022-02-24 00:42] drakedanner commented on #26
I think is my bridge into Harmony from Mainnet (native bridge): https://explorer.harmony.one/tx/0x6fb67d3438d5278598bef3bb2359c48177db4767b4f1301d96e45d70e531e887

Here is the bridge TX on etherscan: https://etherscan.io/tx/0x95a87e3a78f6a702a18281b28cef45efc683dca56815b3e5b16248e0f5496823

ETH Bridge Contract (?): https://explorer.harmony.one/address/0xf9fb1c508ff49f78b60d3a96dea99fa5d7f3a8a6

I

[2022-02-24 14:34] #64 closed

[2022-02-26 20:47] #50 closed

[2022-02-26 20:47] #51 closed

[2022-02-26 20:47] #52 closed

[2022-02-26 20:47] #53 closed

[2022-02-26 20:47] #59 closed

[2022-03-01 09:07] antonyip commented on #26
Addresses of all Wrapped Tokens can be found here https://bridge.harmony.one/tokens

[2022-03-01 14:15] mattromano commented on #26
Awesome, thanks Ant! Is the vault aspect specific to the BTC bridge? Or would I expect to see that on other bridges?

[2022-03-01 14:23] antonyip commented on #26
Transactions can be found here https://bridge.harmony.one/explorer. Just need to search for the patterns in our database.

[2022-03-01 15:45] drakedanner opened #67 "Review Shared Tables"
A consumer of our data (shared from MetricsDAO to Flipside) has noted that tokenprices are not up to date. @antonyip notes that the prices model should not be shared.

Can someone review the models exposed via the share and ensure that the proper tables are shared.

- [ ] Review tables in Flipside
- [ ] Prepare list of tables that should be shared
- [ ] Note for each table if it should be kept, re

[2022-03-01 23:12] antonyip commented on #67
![image](https://user-images.githubusercontent.com/9086733/156264716-552ee4d9-3827-46fa-9e85-3e63db6e063f.png)

[2022-03-01 23:42] chuxinh commented on #67
I'd say the following to be included

- [x] blocks
- [x] logs
- [ ] btc_bridge
- [x] liquidity_pools
- [x] swaps
- [x] tokens
- [x] transfers
- [x] txs

- [ ] tranquil_daily_supply_borrow
- [ ] tranquil_daily_markets_token_price
- [ ] tranquil_market_labels
- [ ] tranquil_txs

- [ ] metric_*

[2022-03-02 00:49] antonyip commented on #67
@chuxinh Reasons for `btc_bridge` and `tranquil_txs` to be taken out?
I'm fine with exposing these 2 as they're just filtered from txs + logs.
How about the dfk_* tables?

[2022-03-02 01:26] chuxinh commented on #67
oh, not meaning it's taken out, but saying they should be included but not exist in the flipside yet. I'll defer to u for all the dfk_*

[2022-03-05 06:02] antonyip commented on #27
Dropped blocked_deduped and txs_deduped from production tables.

[2022-03-05 06:02] #27 closed

[2022-03-09 23:57] #67 closed

[2022-03-10 02:04] antonyip opened #69 "[Improvement] stg_txs"
![image](https://user-images.githubusercontent.com/9086733/157573850-38786c0d-21e9-4324-b1bf-4ca441c54568.png)

stg_txs takes over 40 minutes to run. I believe it can be optimized.
[code]

[2022-03-12 02:06] antonyip opened #73 "[Table] Validators"
**Description**
Let's create a table using `harmony.dev.stg_validators` as the source data table.
The idea behind this is to expose validator data to Flipside's Velocity.

Additional Questions you can ask yourself:
  - What is inside the source data table that is important to be exposed for the public to use?
  - Is there anything else that I wish to have for this table that does not exists yet?

[2022-03-12 02:09] antonyip opened #74 "[Table] Delegators"
**Description**
Let's create a table using `harmony.dev.stg_delegators` as the source data table.
The idea behind this is to expose delegator data to Flipside's Velocity.

Additional Questions you can ask yourself:
  - What is inside the source data table that is important to be exposed for the public to use?
  - Is there anything else that I wish to have for this table that does not exists yet?

[2022-03-12 03:35] antonyip commented on #14
Closing this issue: You can now get HRC20 prices from `INGEST.PUBLIC.SRC_TOKEN_USD_PRICES`

[2022-03-12 03:35] #14 closed

[2022-03-12 20:30] tonykau1 opened #80 "Backfill logs from first block"
Current data in snowflake begins December 8, 2021.  Proposing we create a backfill tx table to supplement the chainwalkers data, which we can then union with "CHAINWALKERS"."PROD"."HARMONY_TXS" to get complete blockchain data to work from.

Balances, TVL, and other questions can be answered more easily and accurately if we have the complete transaction data.

[2022-03-12 20:35] tonykau1 commented on #80
I imagine we'd loop through each block and build out a backfill_blocks table as well.  Pulling each block from the Harmony API would give us the block info and the transactions, then we'd look up each transaction to get its data

https://docs.harmony.one/home/developers/api/methods/transaction-related-methods/hmy_getblockbynumber

[2022-03-13 12:20] #69 closed

[2022-03-13 12:24] #37 closed

[2022-03-13 14:23] antonyip opened #81 "Ingest Staking Transactions"
As a analyst, I'd like to be able to extract staking transactions from the blockchain. The current chainwalker does not have this information.

This new ingestion mechanism ingests blocks differently.
[code]

[code]

[2022-03-13 14:25] antonyip commented on #81
These staking transactions can be seen in the block explorer here.
https://explorer.harmony.one/staking-tx/0x454679b09374b2ead77787b8fcd6ad048e5e25d38dd03675ba0c70a50e30a21a

[2022-03-15 14:10] #32 closed

[2022-03-17 05:08] tonykau1 opened #84 "Feature: Add creator address to liquidity pool table"
This, in combination with some labeling, could help identify volume/pairs by DEX and lead to some interesting Q&A.

Suggested by @mufasa on #active-projects

[2022-03-19 13:44] eevui commented on #73
I'd like to take this issue, if that's all right.

[2022-03-19 13:51] antonyip commented on #73
Go for it! @eevui

[2022-03-20 13:22] eevui commented on #73
Thanks.

First look at the table on snowflake, there's... barely anything in it! I'm not entirely sure how this would be a useful table, to be quite honest.

On checking similar tables available on Flipside---Terra, for instance, I believe some interesting data to expose would be the validator's identity and their voting power. This data could be found at `stg_delegators` instead.

Thus, I propose

[2022-03-20 13:40] antonyip commented on #73
Hey @eevui,

Great Start! My bad for not double checking the stg_validator tables.

Went to take a look at the stg_validators.. yep, there's not much.. I'm okay to pull data from stg_delegators too if you want to join them. Couple of interesting things that you may consider.

- Lets try to have an hourly or daily average of how much is ( staked / number of address staking / how much undelegating /

[2022-03-21 14:11] eevui commented on #73
I was thinking of not pulling from stg_validators at all.

As for the number of delegators per validator, I believe we can pull that value from joining with the future delegators table. Or would it be handy in this table too? Of course I defer to you fellas.

As for the hourly or daily average, as far as I can tell, the ingest occurs not hourly, so perhaps a daily tally would be better. We can gro

[2022-03-21 14:23] eevui commented on #73
On closer look, on average there are around 13 ingest points per day for each validator. With a mode of 4 ingests a day. Sounds a bit low to consider an hourly statistic.

[2022-03-22 12:07] antonyip commented on #73
1. Number of Delegators should be in this table, it'll be a stat that's relevant for the validators.
2. Daily's fine... Latest row of the day is fine too..
3. Yup, totals.

Just FYI i guess, I'm imagining the delegator table to be like
[day_date, delegator_address, total_amount_staked, total_amount_unbonding]
which is similar to what you have, but from the delegators direction.

[2022-03-22 12:54] eevui commented on #73
Sure, can add that to the schema.

Then can also add `total_one_delegated`, `total_one_undelegated`, and `total_one_rewarded`.

I'll build a query and try to get result that matches this schema.

[2022-03-22 14:07] eevui commented on #73
Here's the first 100 rows I got from Snowflake with the SQL I created, hope it looks right! [validators.csv](https://github.com/MetricsDAO/harmony_dbt/files/8324952/validators.csv)

If all's well, I can port it to DBT.

[2022-03-22 14:33] antonyip commented on #73
Looks good!

[2022-03-23 08:22] D0R11 commented on #57
Hello, I'm thinking of assigning myself to this issue. I was wondering if this table is similar to UniswapV3's lp_actions table in Flipside? Thanks

[2022-03-23 08:31] antonyip commented on #57
Hello and welcome, Its similar to lp_actions table for sure but simpler as its closer to UniswapV2.

[2022-03-23 12:52] D0R11 commented on #57
Gotcha. I'll take this one. I assume I'll be starting on the `swaps` table? Are the guide questions on the other issues applicable here, too?

[2022-03-26 05:59] antonyip commented on #73
Completed

[2022-03-26 05:59] #73 closed

[2022-03-26 12:53] eevui commented on #23
I'd like to take a shot at this issue.

[2022-03-26 13:05] eevui commented on #23
Do I rely on your table `ant_logs` being available? Or should I construct a table that doesn't rely on that?

[2022-03-26 15:55] antonyip commented on #23
@eevui, nope you should use the logs table. It'll be simillar but the column names are slighly different.

[2022-03-26 19:39] D0R11 commented on #57
I've been doing some tracing on the `logs` and `txs` tables for a while now and this is what I propose:

 a table similar to the `lp-actions` table in Flipside with the following columns:

- block_timestamp
- tx_hash
- liquidity_provider
- pool_address
- pool_name
- token0
- token0_name
- token1
- token1_name
- action (add_liquidity or remove_liquidity as values)
- amount0_adjusted,
- amount1_adju

[2022-03-26 23:25] antonyip commented on #57
Looks good!, Couple comments,
- I see you using joins on the tokenprices, maybe use left joins as if the token's do not exists it'll not appear in the table.
- Formatting needs abit of work :P <https://github.com/dbt-labs/corp/blob/master/dbt_style_guide.md>

[2022-03-27 06:25] D0R11 commented on #57
Will make the necessary adjustments. Thanks!

[2022-03-27 16:24] D0R11 commented on #57
Refactored the code and tested it in my machine. It works well as intended so far.

The code:
[code]

output:
[code]

Let me know if this is good. Thanks!

[2022-03-27 21:13] antonyip commented on #57
Create the pr and i’ll point out the issues. You’ll also need to do the yaml. It also has to be a incremental table instead of a full table.

[2022-03-28 13:11] eevui commented on #23
@antonyip for now, the columns that I can think of for this table would be:

- amount in xjewel added or removed from the bank, depending on type
- equivalent jewel added or removed from the bank, depending on type
- tx type (whether deposit or withdraw)
- time of tx
- account involved (in hex and in native form)

Is there anything I'm missing?

I'm considering looking at `txs` table for most of t

[2022-03-28 13:54] D0R11 commented on #57
Okay will do

[2022-03-28 14:51] antonyip commented on #23
Maybe amount_usd? Might be easier to just look at logs tbh.

[2022-03-29 12:24] eevui commented on #23
Wouldn't including amount_usd be sort of misleading? As withdrawing from the bank does not necessarily mean that the jewel is liquidated into USD at that moment.

I can see the value, but I think that can be joined later if needed?

[2022-03-29 14:17] antonyip commented on #23
Hm true. Okay then. No need for amount_usd

[2022-03-30 14:08] eevui commented on #23
Alrighty, added `tx_hash` to the schema as well.

[2022-03-26 8 51pm.csv](https://github.com/MetricsDAO/harmony_dbt/files/8381189/2022-03-26.8.51pm.csv)

Here's a sample of the first 10 rows grabbed.

[2022-04-02 17:45] tonykau1 commented on #80
This is on pause and hopefully unnecessary after the chainwalkers dataset gets the backfill throttled up next week

[2022-04-04 13:16] eevui commented on #62
I'd like to pick this up!

[2022-04-04 13:42] eevui commented on #62
On first look it seems like some rows are coming up empty, and that is because the retrieved log does not relate with a liquidity pool.

Checking some of the transactions not related to a liquidity pool, they indeed aren't swaps. For instance, this one, https://explorer.harmony.one/tx/0x9f82b9609d9d03a6beae1e5653cb685f01554370799b46571233ba0fee7ccbc9?activeTab=0, appears to be a presale mint. It e

[2022-04-08 12:10] eevui commented on #24
I'd like a shot at this.

[2022-04-08 18:38] D0R11 commented on #25
Would like to take this task. Will review this issue more thoroughly tomorrow.

[2022-04-09 04:20] #57 closed

[2022-04-09 04:22] antonyip opened #92 "[BugFix] sushiswap_lp_actions has token0_name=NULL"
Follow up ticket to solve for NULL token0_name in sushiswap_lp_actions.
https://github.com/MetricsDAO/harmony_dbt/pull/88
[code]

Solution is needed for the token database as it is not maintained well.

[2022-04-09 04:39] #62 closed

[2022-04-09 04:40] #21 closed

[2022-04-09 04:44] #34 closed

[2022-04-09 18:58] #23 closed

[2022-04-15 08:48] eevui commented on #24
Apologies for taking so long.

I can identify the following schema for this table:
- block_timestamp
- block_number (may be interesting to determine epoch?)
- epoch (based off block_number)
- native_from_address
- from_address
- tx_hash
- jewel_reward (locked + unlocked jewel at time of claim)
- jewel_locked (at time of claim)
- jewel_unlocked (at time of claim)

Is that good?

[2022-04-15 09:21] antonyip commented on #24
Can drop jewel_reward. Lock and unlocked is good enough.

[2022-04-15 11:17] eevui commented on #24
Gotcha, here's a 100 rows from my query.

[harvests.csv](https://github.com/MetricsDAO/harmony_dbt/files/8495590/2022-03-26.8.51pm.2.csv)

If all's good, I'll proceed with PR.

[2022-04-15 11:20] antonyip commented on #24
looks good.

[2022-04-15 14:55] D0R11 commented on #25
Sorry for getting back on this late. I got busy in my day job this past week.

I propose to design the schema for the table `DFK_Seed_Liquidity_Added` as follows:

- log_id (primary key)
- block_id
- block_timestamp
- tx_hash
- amount_0
- amount_1
- one_lp_address
- eth_lp_address
- pool_name
- token0_address
- token1_address
- token0_name
- token1_name
- amount_usd

Here is a sample table of the

[2022-04-15 22:00] antonyip commented on #25
Hey. Could we do added and removed in the same table? Sample looks good.

[2022-04-16 01:01] D0R11 commented on #25
Got it. So I guess I will add an `action` column too that will indicate if it is an `add_liquidity` or `remove_liquidity`, yeah?

[2022-04-16 02:43] antonyip commented on #25
@D0R11 yup, thanks!

[2022-04-16 08:11] D0R11 commented on #25
Here's an updated sample

[DFK_Seed_Liquidity_Added updated.csv](https://github.com/MetricsDAO/harmony_dbt/files/8499518/DFK_Seed_Liquidity_Added.updated.csv)

Will make a PR if it's good to go. Thanks!

[2022-04-16 08:14] antonyip commented on #25
lets drop amount_usd too, i see some null values. other than that, looks good.

[2022-04-16 08:27] D0R11 commented on #25
Gotcha. Making a PR

[2022-04-16 13:39] eevui commented on #33
I'll take this next.

[2022-04-17 06:44] RplusT commented on #58
Hi @antonyip !
I'd like to take this on if that's okay. Here's my proposed schema:

| log_id                                                             | block_id | block_timestamp         | tx_hash                                                            | liquidity_provider                         | action           | pool_address                               | pool_name    | token0

[2022-04-19 13:28] eevui commented on #33
Right, so I can identify the following columns:

- tx_hash
- from_address (both native and eth)
- block_timestamp
- market_action (buy or sell)
- token_take
- amount_take
- token_give
- amount_give

`_take` represents the token and amount received by the address that sent this tx. Thus in a _buy_ action, the token they receive (only ever Golden Egg, so far) and the amount. In a _sell_, the DFKGold

[2022-04-20 13:27] eevui commented on #38
I think I've got a clue! Going to be looking at the tx input and decoding from there.

[2022-04-21 22:45] antonyip opened #97 "Bug with missing token addresses"
Swaps are missing token addresses
[code]

[2022-04-22 13:09] austinFlipside opened #98 "Missing Blocks / Incremental Logic Issues"
There are thousands of missing blocks in the `blocks` table, please see my query below to confirm.
I think there are two issues:
1. Chainwalkers is missing some blocks
2. Incremental loads are not set up properly to handle any blocks that ingested after block time
- for example, look at `block_id = 22647499`
- this block exists in chainwalkers, but was ingested 20 days after its block timestamp
-

[2022-04-22 20:49] Vahid-flipside commented on #97
I looked at your model for the swap table. There must be a problem with the join because the liquidity_pool table already has those token addresses. And their relative pool addresses also exist in the logs table.

[2022-04-23 01:01] antonyip commented on #97
Did a full-refresh on the table, we had changes that was not propagated to the production servers.

[2022-04-23 01:01] #97 closed

[2022-04-23 01:16] #24 closed

[2022-04-23 01:22] antonyip commented on #58
Sorry I took so long to get back to you. Looks good to me. Please carry on with the other steps :)

[2022-04-23 01:23] antonyip commented on #38
Cool! You can assign yourself if you would like to take on the task :)

[2022-04-23 01:25] antonyip commented on #33
Cool, looks similar to how swaps are done. I think we can leave out amount_usd for this.

[2022-04-23 03:32] RplusT commented on #58
@antonyip no worries! Ready now for your review #100 :)

[2022-04-24 00:27] #98 closed

[2022-04-25 09:16] antonyip opened #103 "[Documentation] Using netlify to generate documentation"
https://discourse.getdbt.com/t/publishing-dbt-docs-to-netlify/121

[2022-04-25 11:31] eevui commented on #33
Cool, I'll do PR next!

edit: Oh whoops, I forgot I haven't done the query yet. I'll do that first and send a sample query.

[2022-04-25 12:55] eevui commented on #33
Here's the sample query:
[dfk item tx.csv](https://github.com/MetricsDAO/harmony_dbt/files/8554705/dfk.item.tx.csv)

[2022-05-01 10:10] D0R11 commented on #103
Hello, taking this issue. Created an account and did the steps indicated in the link you've provided. Deploying the docs as we speak.

[2022-05-01 10:16] antonyip commented on #103
Cool. Let me know how it goes.

[2022-05-01 10:25] D0R11 commented on #103
https://wondrous-maamoul-10f823.netlify.app/#!/overview

Works well as intended. Are we going to add a domain for this or is this good?

[2022-05-01 10:33] antonyip commented on #103
- is it possible to hand over control to me or its just static?
- will have to talk to mdao people for the domain..
- what are the steps required for me to update the page?

[2022-05-02 14:10] eevui commented on #38
Hmm, this has become more complicated than I expected.

I tried to run the contract code through a local EVM to evaluate the functions, but I get 0s :(

[2022-05-03 03:39] D0R11 commented on #103
@antonyip Sorry I just got back now, pretty busy schedule.

The site I sent was just static so I'll remove it for now.

We can proceed with continuous development by linking this repository to Netlify and then creating a `netlify.toml` file wherein it is indicated there which subdirectory will only be deployed to Netlify. With continuous development, the website will update with the latest commit.

[2022-05-03 03:42] D0R11 commented on #103
I forgot to add,

the command `dbt docs generate` will be the command in place so that it will be run everytime a commit has been pushed to master.

reference: https://answers.netlify.com/t/support-guide-what-if-my-project-folder-is-not-the-root-of-my-git-repository/123

[2022-05-03 08:21] D0R11 commented on #103
@antonyip sent a request to link harmony_dbt as a git repo in Netlify for issue 103

![image](https://user-images.githubusercontent.com/99073366/166423412-3080b445-eada-48c3-9158-fdc29fe4e03a.png)

[2022-05-03 08:33] antonyip commented on #103
@drakedanner could you handle this? I’m not mdao admin so can’t follow up.

[2022-05-03 21:34] Vahid-flipside opened #106 "Gaps in the blocks"
Hi MDAO team,
I have discovered the following gaps in the stg_blocks.sql model.
Could it be fixed?

WITH source AS (SELECT
  block_id,
    block_timestamp,
    LAG(
        block_id,
        1
    ) over (

        ORDER BY
            block_id ASC
    ) AS prev_block_id
FROM
    (select * from ..\stg_blocks where BLOCK_TIMESTAMP < CURRENT_DATE - 1) dbt_subquery)

SELECT
prev_block_id,
block_id,
b

[2022-05-03 21:38] Vahid-flipside opened #107 "Event_inputs are null in the logs model"
Hi,
As per the below query there are a large number of event_inputs that are null.
Not that they are null in the data base they are of type null!!
These transactions in fact all have inputs.

select *
from HARMONY_DEV.DEV.LOGS
where typeof(event_inputs) = 'NULL_VALUE'

[2022-05-04 13:51] eevui commented on #38
I've found an approach that I'd like to take. I think it'd be outside SQL's realm though. Is there a way to do extra processing like with the jinja style tags?

[2022-05-04 13:52] antonyip commented on #38
There's UDF's if thats what you mean? Not sure what your idea is.

[2022-05-05 01:46] eevui commented on #38
UDFs? I'm not sure what those are.

The idea is that I'll be looking through the constructor arguments to the contract creation, which is tacked on at the end of the input data. Unfortunately, these arguments aren't always at fixed locations and so must need some extra processing to extract them.

So I was thinking of how to perhaps get some other programming language in like JS or Python to proce

[2022-05-05 01:57] antonyip commented on #38
https://github.com/MetricsDAO/harmony_dbt/blob/main/macros/udfs/func_onetoeth.sql
here’s a udf. Basically javascript code.

[2022-05-05 02:10] antonyip commented on #106
Hello  @Vahid-flipside,

[code]
![image](https://user-images.githubusercontent.com/9086733/166854495-9b2b35bf-f9eb-4240-bb03-063b7a2e0b54.png)

The issue we have is that the chainwalkers from flipside do not give us all the blocks...

[2022-05-05 02:28] antonyip commented on #107
This is a good issue.

Task:
1. Extract all event signatures and function signatures from [ 4byte](https://www.4byte.directory/).
2. Figure out a way to parse the logs based on the above infomation.
3. Create a new table called parsed_logs.

[2022-05-05 02:57] eevui commented on #38
Alright, this sounds perfect.

[2022-05-06 22:11] #58 closed

[2022-05-06 22:18] antonyip opened #109 "Add Liquidity pools for ViperSwap"
Make a csv file for seeding.

Add these pools to the liquidity_pools table.

POOL_NAME	POOL_ADDRESS
HYPERMATIC-WONE LP	0xf57f03c80c50d9017098c1ae696fb5e28721f9e0
DUST-WONE LP	0xa05ab54fa558f19a979ea393226e758c8f1036f5
BAKA-WONE LP	0x99846d15b7a56814e6db15acce11c1bfc38428d8
JENM-WONE	0x388b83c4e32f29d4e83f7d17241a742986e47dd2
	0xe8bccb8fef6f62d8227b99b3d78f4dff50dc2e26
bscUSDC-1USDC	0xa0e4f1f65e80a

[2022-05-06 22:35] antonyip opened #110 "Add Liquidity Pools for DFK Liquidity Pools"
Missing Liquidity Pools from DFK_Liquidity Pool Actions:

Please add as a seed csv and modify the `liquidity pools` table.

ETH_LP_ADDRESS
0x9a2aefdb2ada8d2f4461f5ffd3ac15d010a463d3
0x6b3071f2d6beba63ccfd3838cc5866a081ad3854
0xe78059957ecda702d4ac2bcc1fb08d1b43192e6a
0xb96d6be5f70678790f12bb9271703d8c861697ad
0x206ef945884a898de62eaccb061110e964787734
0xc2915130658a1c6c24d1475b9595a91f1bf268cc
0xc

[2022-05-06 22:37] #25 closed

[2022-05-07 09:35] D0R11 commented on #103
Hello, any updates on this? @drakedanner

Thanks!

[2022-05-08 21:48] #33 closed

[2022-05-12 14:15] covendev commented on #74
would be interested to work on this task. Can you please redirect me to the link that points to harmony.dev.stg_delegators and other related data  linked to it that is presently available

[2022-05-17 09:22] #103 closed

[2022-05-21 10:20] geewynn commented on #74
Proposed schema

| day_date | delegator_address  | total_amount_delegated | total_amount_undelegated | delegator_reward |
|----------|-------------------------|--------------------------------------------------------------------|--------------------------------------------------------------------|-----------|
| 2022-02-20 00:00:00.000  |"one1fg5vsk0gy0jd2nf6m68zg7cxukcnsqwpncxaj0" | 0 | 9.6e+21|

[2022-05-21 10:28] antonyip commented on #74
@geewynn Heya,
Might wanna reference this for notes :) https://github.com/MetricsDAO/harmony_dbt/issues/73#issuecomment-1073254439

[2022-05-21 12:10] geewynn commented on #74
Hey @antonyip I have gone through the reply and was wondering if there's anything in particular you think can be added to the model above.

I am also thinking if I should remove the validator_address, validatos_address_hex from the model and only focus on the data relevants to the delegators.

Columns can be `day_date`, `delegator_address`, `total_amount_delegated`, `total_amount_undelegated`, `de

[2022-05-21 12:14] antonyip commented on #74
yup, sounds good.

[2022-05-23 23:20] forgxyz opened #118 "Recent test warnings"
[code]

[2022-05-24 01:27] antonyip opened #119 "[Table]: Contracts Created"
look for transactions that spawn a new contract and parse them.

[2022-05-24 03:16] antonyip opened #120 "[Table] ERC20 Mints and Burns"
For Each ERC20 token, look for the topic0 = `0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4a11628f55a4df523b3ef`
Calculate the daily mints and burns of each token.
This will be from '0x000...000' or to'0x000...000'

`Transfer (index_topic_1 address from, index_topic_2 address to, uint256 value)`

[2022-05-24 03:17] antonyip opened #121 "[Table] ERC1155 Mints and Burns"
Look for TransferSingle Event (topic0: `0xc3d58168c5ae7397731d063d5bbf3d657854427343f4c083240f7aacaa2d0f62` )
Calculate daily mints and burns of each token.
This will be from '0x000...000' or to '0x000...000'
`TransferSingle(address,address,address,uint256,uint256)`

[2022-05-24 04:50] Albert-Debbarma commented on #121
i would love to solve this issue ?can you please what exactly need to be done?

[2022-05-25 16:05] forgxyz opened #122 "Implement Automatic Docs Generation"
We can use github actions to automatically run `dbt docs generate` on new PR merges.
I have this written for another model and can bring it over to this week.

[2022-05-28 10:26] #74 closed

[2022-05-30 22:41] antonyip opened #125 "[Bug] add gas used for txns"
This is from chainwalkers.prod.harmony_txs

1. Extract out cumulativeGasUsed as gas_used and convert it into integer for the stg_txs table,
2. Add gas_used to txs table
[code]

[2022-05-31 14:05] eevui commented on #38
For documentation purposes, I tried out ant's method of selecting on contracts using "Transfer" event and got 14,141 contract addresses.

I also tried out selecting on creation txs: TXs that have the bytecode for "name()" somewhere in data. I only get 11,805 txs with that matching data.

Any idea what the discrepancy could be?

[2022-05-31 14:18] antonyip commented on #38
@eevui Transfers also considers ERC720 and ERC1155 and any other weird odditities.. maybe just print out all the addresses and sort them alphabetically and you should be able to see which addresses are standing out...

[2022-06-01 13:31] eevui commented on #38
Okay, confirmed that it does include ERC721, at the least.

Unfortunately, I also can't find anything unique about ERC721 stuff that would differentiate it in Snowflake.

[2022-06-01 13:33] antonyip commented on #38
you can check if topic3 is null or not, i think erc721's and 1155's have topic3 filled as that's the tokenid.

[2022-06-01 13:37] eevui commented on #38
Checked a couple ERC20s, there are a couple that don't have logs, even.

[2022-06-01 15:56] Vahid-flipside commented on #107
Hi @antonyip
Is there any news on this?

[2022-06-01 22:05] antonyip commented on #107
Anyone's free to take up this task.

[2022-06-02 13:29] eevui commented on #38
Here's the simple query to grab the contract addresses:

[code]
and here's the results as of June 2.
[results.csv](https://github.com/MetricsDAO/harmony_dbt/files/8824280/2022-05-24.9.49pm.csv)

I'm not sure whether a PR is needed?

[2022-06-02 13:52] eevui commented on #38
Oh, to add, Harmony Explorer has an HRC20 page: https://explorer.harmony.one/hrc20

It's got at least 17,000 contracts...

![image](https://user-images.githubusercontent.com/51023861/171644970-43dc9c70-b745-463f-a2dc-b7a168e843c2.png)

This is found in the console when loading the HRC20 page.

[2022-06-02 14:01] eevui commented on #107
I've checked a couple log events against 4byte.

So far, they come up empty. Probably the only way to find out what the names of these events are is for ABI to be exposed, really.

[2022-06-02 21:50] antonyip commented on #12
![image](https://user-images.githubusercontent.com/9086733/171744373-66651cda-d899-4ba2-a8d4-93df7c1986a1.png)

[2022-06-03 12:54] eevui commented on #81
Look interesting, but I'm not sure what's asked for here.

Is it for a new table containing staking_txs?

[2022-06-03 13:12] eevui commented on #84
I can take this.

[2022-06-03 14:23] eevui commented on #84
Perhaps the table should be renamed to... liquidity providers and not pool.

Also, some of these logs aren't filled yet so they're missing creator address.

Here's the first 100 rows I got from updating the existing model.
[creator address lp.csv](https://github.com/MetricsDAO/harmony_dbt/files/8832997/creator.address.lp.csv)

[2022-06-03 23:07] antonyip commented on #110
Task Completed!

[2022-06-03 23:07] #110 closed

[2022-06-03 23:08] antonyip commented on #109
Task Completed!

[2022-06-03 23:08] #109 closed

[2022-06-03 23:13] #12 closed

[2022-06-15 15:06] Vahid-flipside commented on #107
How about leaving it as null as opposed to hardcoding it as "NULL VALUE"?

[2022-06-20 06:13] eevui commented on #84
@antonyip does this look good? I can submit a PR later.

[2022-06-20 06:27] antonyip commented on #84
yea looks good

[2022-06-23 22:52] #84 closed

[2022-06-23 22:57] #121 closed

[2022-06-23 22:59] #120 closed

[2022-06-29 07:36] #125 closed

[2022-07-06 20:10] forgxyz opened #133 "Bug Report: Gas Used not matching the explorer"
Flipside user has reported that the gas used is not matching what Harmony explorer shows.

Example tx: `0x6efe00fc988884b9c5cc97960716e28aa4ec2743a23c851c8d5ff46270dfb33d`

<img width="272" alt="Screenshot 2022-07-06 at 10 29 32 AM" src="https://user-images.githubusercontent.com/58153492/177634443-ad315deb-daf8-46b6-9c0a-233de003da4e.png">
<img width="744" alt="Screenshot 2022-07-06 at 10 29 41 AM

[2022-07-07 13:42] eevui commented on #133
I'd like to pick this up.

Cursory peek at it, it's because the model uses the cumulative gas field of the receipts. Understandably, it could be read as the cumulative gas used for the entire transaction. However, this actually refers to the cumulative gas used for the entire block.

I'll write up a new query to account for this and will submit a PR later on.

[2022-07-12 14:07] lizmartinis opened #135 "ONE token price incorrect"
mdao_harmony.tokenprice_one is not showing the ONE token price correctly. Seems to be showing Jewel price instead.

Issue submitted to flipside by Sam - discord community moderator.

[2022-07-21 12:14] eevui commented on #135
Where _do_ we collect information about token prices? I do see the tables, but where do they come from?

[2022-07-21 12:26] antonyip commented on #135
Think its based off dex prices. With the hack of harmony bridge. Stable coins aren’t keeping the peg anymore.

[2022-07-21 12:39] eevui commented on #135
Ah you're right.

Checking the model, it is indeed basin off JEWEL price. There's a `tokenprices` table that contains a `WONE` mapping. So we can base it off there, no?

[2022-07-21 14:09] #135 closed

[2022-07-21 14:10] #133 closed

[2022-07-27 12:43] eevui commented on #119
@antonyip What kind of information do we want to gather here?

I've found that I can query the `stg_txs` table for transactions that produce contracts, but what else information do we want to parse? Notably, some contract creation txs don't produce logs at all.

I can identify:
- tx_id of tx that produced the contract
- the contract address of the new contract
and then not much else, actually.

[2022-07-27 13:27] antonyip commented on #119
@eevui hey, probably stop work on harmony chain for now :)